{% extends "_base.html" %}

{% block main %}
<div class="home-title">
        <h1 class="site-title">Welcome{% if user != null %}, {{user.getUsername()}}{% endif %}</h1>
        <p class="slogen"></p>
        <a href="#">
                <div class="card mb-3">
                        <img class="card-img-top" src="https://mouz.xyz/usr/uploads/2022/09/4046118516.jpg" alt="Card image cap">
                        <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                </div>
        </a>
</div>

{% endblock %}